.btn-default {
  border: none;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-btn {
  background-position: center;
  &.btn-filled {
    color: white;
    background-color: #000;
    &:hover {
      background: #222;
    }
    &:active {
      background: #3c3c3c;
    }
  }
  &.btn-bezeled {
    background: var(
      --buttons-bezeled-default,
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      rgba(230, 230, 230, 0.8)
    );
    background-blend-mode: overlay, normal;

    backdrop-filter: blur(40px);
    color: #000;
    &:hover {
      background: var(
        --buttons-hover,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(209, 209, 209, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
    &:active {
      background: var(
        --buttons-click,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(201, 201, 201, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
  }
  &.btn-bezeled-white {
    background: var(
      --buttons-bezeled-default,
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      rgba(230, 230, 230, 0.8)
    );
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
    color: white;
    &:hover {
      background: var(
        --buttons-hover,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(209, 209, 209, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
    &:active {
      background: var(
        --buttons-click,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(201, 201, 201, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
  }
  &.btn-ghosted {
    color: #000;
    border: 1px solid #000;
    &:hover {
      border: 1.5px solid #000;
      background: rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(40px);
    }
    &:active {
      background: var(
        --buttons-click,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(201, 201, 201, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
  }
  &.btn-borderless-blue {
    color: #1a3b70;
    &:hover {
      background: var(
        --buttons-hover-naked,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(238, 238, 238, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
    &:active {
      background: var(
        --buttons-clicked-naked,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(222, 222, 222, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
  }
  &.btn-borderless-black {
    color: #000;
    &:hover {
      background: var(
        --buttons-hover-naked,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(238, 238, 238, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
    &:active {
      background: var(
        --buttons-clicked-naked,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        rgba(222, 222, 222, 0.8)
      );
      background-blend-mode: overlay, normal;
      backdrop-filter: blur(40px);
    }
  }
  &.btn-rounded {
    border-radius: 100px;
  }
  &.btn-icon {
    padding: 12px;
    height: 44px;
    width: 44px;
  }
}
.btn-append {
  margin-left: 8px;
}
.btn-prepend {
  margin-right: 8px;
}
.btn-size-md {
  height: 44px;
  padding: 12px 18px;
}
.btn-size-sm {
  height: 36px;
  padding: 8px 14px;
  &.btn-icon {
    padding: 8px;
    height: 36px;
    width: 36px;
  }
}
.btn-disabled {
  background: rgba(118, 118, 128, 0.12);
  color: rgba(60, 60, 67, 0.3);
}
.btn-outlined {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
